<div class="Splash">

  <div class="Splash__img"><%= image_tag("lab.jpg")%>
  </div>
  <div class="Splash__Main">
    <div class="Splash__Main__title">素敵なラボ、選ぼ</div>
    <div class="Splash__Main__input">

        <%= form_tag({:controller => "labs", :action => "index"}, :method => 'get') do %> 

    <!-- <input type="text" placeholder="" class="input"></div> -->
          <%= text_field_tag :search, params[:search], :placeholder=>"研究室を探してみる (e.g. 九州大学 工学部)", :class =>'input' %>


          <% end %>

  </div>
</div>
  </div>
<div class="About">
  <div class="About__title">What's ELab？</div>
  <div class="About__message">
  ELabは，大学の研究室・ゼミの情報を集めたデータベースです。
  </div>

      <table>
      <tr><td><i class="fa fa-university" aria-hidden="true"></i></td><td width="75"></td><td></td><td width="75"></td><td><i class="fa fa-university" aria-hidden="true"></i></td></tr>
      <tr><td></td><td><i class="fa fa-long-arrow-right fa-rotate-45" aria-hidden="true"></i></td><td></td><td><i class="fa fa-long-arrow-right fa-rotate-135" aria-hidden="true"></i></td><td></td></tr>
      <tr><td><i class="fa fa-university" aria-hidden="true"></i></td><td><i class="fa fa-long-arrow-right" aria-hidden="true"></i></td><td><i class="fa fa-database" aria-hidden="true"></i></td><td><i class="fa fa-long-arrow-right fa-rotate-180" aria-hidden="true"></td><td><i class="fa fa-university" aria-hidden="true"></i></td></tr>
      <tr><td></td><td><i class="fa fa-long-arrow-right fa-rotate-315" aria-hidden="true"></i></td><td></td><td><i class="fa fa-long-arrow-right fa-rotate-225" aria-hidden="true"></i></td></tr>
      <tr><td><i class="fa fa-university" aria-hidden="true"></i></td><td></td><td></td><td></td><td><i class="fa fa-university" aria-hidden="true"></i></td></tr>
      </table>
</div>

<div class="Features">




</div>