// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Header {
  height: 60px;  
  border-bottom: 1px solid $color-border-gray;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  // background: white;
  background:$color-bg-blue;
  color: white;
  &__logo {
    padding: $space-unit $space-unit*1.5;
    font-size: 2.0rem;
    text-shadow: -1px 1px 0 rgba(0,0,0,.1);

    & a {
      color: white;
    }
  }

}

.Container {

  background: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: $space-unit*2;

  min-height: 900px;
  &__sub {
    width: $sub-width;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    margin-right: $space-unit;

    &__Contents {
      margin: 8px;
    }
    &__title {
      font-size: 1.8rem;
    }
    &__list {
    }

    &__item {
      padding: 4px 0;
      font-weight: bold;
    }

    &__dt {
      padding: 8px 0;
      border-bottom: 1px solid $color-border-gray;
      @include darken-bg(white);
    }

    &__dd {
      padding-left: 8px;
      text-decoration: underline;
      @include darken-bg(white);
    }
  }

  &__main {
    width: 100%;
    margin-left: $space-unit;

  }

}

.SearchArea {
  height: 200px;
  background: #f6f6f6;
  border: 1px solid #e5e5e5;
  box-shadow: 0 3px 8px rgba(0,0,0,.1);

  &__Contents {
    padding: $space-unit;
  }

  &__title {

    font-weight: bold;
    color: $color-bg-blue;
  }

  &__Keywords {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    align-items: center;

    &__input {
      min-width: 300px; 
      margin: 0 $space-unit/2;
    }

 
  }

  &__Conditions {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin: $space-unit/2 0;
    align-items: center;
  }

  &__Cource {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    margin-right: $space-unit;
    &__select {
      border: 1px solid $color-border-gray;
      background: white;
      margin-left: 8px;
    }
  }

  &__NumberOfPeople{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    font-size: 1.4rem;
    &__label { 
      margin-right: 8px;
      font-size: 1.6rem;
      color: $color-main-text;
    }

    & input{
      width: 50px;
      font-size: 1.6rem;
      background: white;
      text-align: center;
    }
  }

  &__Submit {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    background: $color-bg-blue;
    text-align: center;
    color: white;
    width: 80%;
    margin: $space-unit auto;

    &__button {
      width: 100%;
      padding: 10px;
    }
    @include darken-bg($color-bg-blue);
    & i {
      padding-right: 8px;
    }
  }

}

.ResultArea {
  
  &__header {
    margin: $space-unit 4px;
    font-size: 1.4rem;
    color: $color-gray-text;
    &__count {
      font-size: 2.0rem;
      padding: 0 4px;
      color: $color-bg-blue;
    }
  }

  &__Result {
    position: relative;
    width: 100%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 3px 8px rgba(0,0,0,.1);
    height: 100px;

    & a {
      font-size: 2.4rem;
      color: #2D3E50;
      display: block;
      width: 100%;
      height: 100%;
      padding: $space-unit;
      @include darken-bg(white);
    }
  
  &__data {
    position: absolute;
    bottom:$space-unit/2;
    left: $space-unit;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    & i {
      font-size: 1.4rem;
      padding-right: 4px;
      
      &:not(:nth-child(1)){
        padding-left: 10px;
      }
    }
  }


  }

}

.Contents {
  &__Header {

    margin-bottom: $space-unit;
    font-size: 2.0rem;

    &__sub {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      margin-top: $space-unit/4;
      & i {
        padding-right: 4px;
      }
    }
    &__title {
      font-size: 3.0rem;
    }

    &__place {
      margin-right: $space-unit/2;
    }


  }


  &__Section{
    margin: $space-unit*2 0;
    &__title {
      padding: $space-unit/2 0;
      font-size: 2.0rem;
      border-top: 1px solid $color-border-gray;
      border-bottom: 1px solid $color-border-gray;

    }

  }



}


